.khan__buy-link {
align-self: flex-start;
margin-left: 48px;
text-decoration: none;
color: #2f80ed;
line-height: 46px;
font-size: 30px;
font-weight: normal;
}

.khan__buy-link:hover {
opacity: 0.5;
}
